li:hover{
    background-color: brown;
    font-size: 30px;
    cursor: pointer;
}

li:active {
    background-color: darkred;
    font-style: italic;
}

li::before {
    content: "✅"
}

li:hover::after {
    content: " vote for me";
    margin-left: 12px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

li:active::before {
    content: "☑️"
}

ul {
    list-style: none;
}